{% extends "layout.html" %}

{% block content %}
	<div class="col-lg-9" id="map-canvas">
	</div>
	<div class="col-lg-3">
		<div class="block-top">
			<div class="options">
				<div class="selects">
					<p class="glyphicon glyphicon-home"> Hotels </p>
					<p></p>
					<select class="btn btn-default">
						{% for hotel in hotels %}
							<option value="{{hotel._id}}">{{hotel.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="selects">
					<p class="glyphicon glyphicon-cutlery"> Restaurants</p>
					<p></p>
					<select class="btn btn-default">
						{% for restaurant in restaurants %}
							<option value="{{restaurant._id}}">{{restaurant.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="selects">
					<p class="glyphicon glyphicon-flag"> Things to do</p>
					<p></p>
					<select class="btn btn-default">
						{% for thing in things %}
							<option value="{{thing._id}}">{{thing.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="block-bottom">
			<h2>Day 1</h2>
			<div class='days'>
				<button class="btn btn-primary">1</button>
		        <button class="btn btn-primary">2</button>
		        <button class="btn btn-primary">3</button>
		        <button class="btn btn-primary">+</button>
			</div>
		</div>
	</div>

{% endblock %}