@import "normalize";

.col-lg-3 {
	height: 100vh;
	background-color: #CCB299;
}

.col-lg-9 {
	padding: 0;
}

.navbar {
	margin-bottom: 0;
}


.block-top {
	height: 36%;
	background-color: #EBE0D6;
	margin-top: 10%;
	border-radius: 5%;
}

.block-bottom {
	height: 54%;
	background-color: #EBE0D6;
	margin-top: 10%;
	border-radius: 5%;
	text-align: center;
}

.options {
	text-align: center;
}

#map-canvas {
	height:100vh;
}

select{
	width: 70%;
	display: block;
	margin: 0 auto;

}

.selects{
	margin-bottom: 10%;
}

.days{
	background-color: #B49B82;
	height: 15%;
}

